/* SET-UP */
.hamburger-mnu {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hamburger-mnu::before,
.hamburger-mnu::after {
    content: '';
    position: absolute;
}
.hamburger-mnu::before,
.hamburger-mnu::after,
.hamburger-mnu div {
    height: 1%;
    width: 45%;
    background-color: black;
    opacity: 1;
    transition: opacity 0.7s;
}
.hamburger-mnu:before {
    transform: translateY(-1rem)
}
.hamburger-mnu:after {
    transform: translateY(1rem)
}
/* ANIMATION */
.hamburger-mnu::before,
.hamburger-mnu::after,
.hamburger-mnu div {
    opacity: 1;
    transition: opacity 0.7s;
}
.hamburger-mnu:hover:before, .hamburger-mnu:hover:after {
    opacity: 0;
    transition: opacity 0.3s;
}