.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-ctn::before, 
.icon-ctn::after {
    content: '';
}
.icon-ctn::before, 
.icon-ctn::after {
    height: 50%;
    width: 1%;
    background-color: black;
}
.icon-ctn::before {
    transform: translate(-17px, -32px) rotate(45deg);
}
.icon-ctn::after {
    transform: translate(17px, -32px) rotate(-45deg);
}
.icon-ctn div {
    height: 100%;
    width: 1%;
    background-color: black;
}