<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />
    <title>CSS responsive footer</title>
</head>

<body>
    <header id="top"></header>
    <footer class="footer">
        <a class="go-to-top__footer" href="#top">
            <div class="icon-ctn__footer">
                <div></div>
            </div>
        </a>
        <div class="info-ctn__footer">
            <p class="text__footer">
                This is a responsive footer.</br>
                CSSrepertoire is a collection of reusable CSS components and animations.
            </p>
            <div class="links__footer">
                <a>link</a>
                <a>link</a>
                <a>link</a>
                <a>link</a>
            </div>
            <div class="copyright-ctn">
                &copy 2020 <a href="https://github.com/cortesana">cortesana</a>
            </div>
        </div>
    </footer>
</body>