* {
    margin: 0px;
    color: white;
}
.footer {
    padding: 20px 25px;
    font-family: 'Raleway', sans-serif;
    background-color: grey;
}
.go-to-top__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-ctn__footer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon-ctn__footer::before {
    content: '';
    transform: translate(-1550%, -2.5%) rotate(45deg);
}
.icon-ctn__footer div {
    transform: translate(1550%, 2.5%) rotate(-45deg);
}
.icon-ctn__footer::before, 
.icon-ctn__footer div {
    height: 50%;
    width: 1%;
    background-color: white;
}
.info-ctn__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__footer {
    text-align: center;
    width: 70%;
    margin: 15px;
    line-height: 1.5;
}
.links__footer {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.copyright-ctn {
    margin: 20px 15px;
}

@media all and (min-width: 768px) {
    .footer {
        margin: 0 48px;
        padding-bottom: 40px;
    }
    .icon-ctn__footer {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .icon-ctn__footer::before {
        content: '';
        transform: translate(-1750%, -2%) rotate(45deg);
    }
    .icon-ctn__footer div {
        transform: translate(1750%, 2%) rotate(-45deg);
    }
    .info-ctn__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        margin-bottom: 30px;
    }
    .text__footer {
        text-align: left;
        width: 30%;
    }
    .links__footer:nth-child(2) {
        display: flex;
    }
    .copyright-ctn {
        position: absolute;
        transform: translateY(250%);
    }
}
@media all and (min-width: 1200px) {
    .footer {
        margin: 0 auto;
        max-width: 1120px;
    }
}