.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon-ctn::before,
.icon-ctn::after {
    content: '';
    position: absolute;
}
.icon-ctn::before,
.icon-ctn::after,
.icon-ctn div {
    height: 1%;
    width: 45%;
    background-color: black;
}
.icon-ctn:before {
    transform: translateY(1500%)
}
.icon-ctn:after {
    transform: translateY(-1500%)
}