.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon-ctn::before,
.icon-ctn::after {
    content: '';
    position: absolute;
}
.icon-ctn::before,
.icon-ctn::after,
.icon-ctn div {
    height: 1px;
    width: 45px;
    background-color: black;
}
.icon-ctn:before {
    transform: translateY(17px)
}
.icon-ctn:after {
    transform: translateY(-17px)
}