/* SET-UP */
.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-ctn::before {
    content: '';
    transform: rotate(-45deg);
}
.icon-ctn div {
    transform: rotate(45deg);
}
.icon-ctn::before,
.icon-ctn div {
    height: 1%;
    width: 45%;
    background-color: black;
}