.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-ctn::before {
    content: '';
    transform: translateY(7.5px) rotate(45deg);
}
.icon-ctn div {
    transform: translateY(-7.5px) rotate(-45deg);
}
.icon-ctn::before, 
.icon-ctn div {
    height: 1%;
    width: 20%;
    background-color: black;
}