.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-ctn::before {
    content: '';
    transform: translateY(18px) rotate(45deg);
}
.icon-ctn div {
    transform: translateY(-18px) rotate(-45deg);
}
.icon-ctn::before, 
.icon-ctn div {
    height: 1px;
    width: 50px;
    background-color: black;
}