.switch-btn {
    display: inline-block;
    width: 55px;
    height: 30px;
    display: inline-block;
    background-color: darkgrey;
    border-radius: 15px;
    position: relative;
    transition: all 0.3s;
}
.switch-btn::after {
    content: '';
    position: absolute;
    width: 45%;
    height: 83%;
    border-radius: 50%;
    background-color: white;
    transform: translate(20%, 10%);
    transition: all 0.3s;
}
.input {
    display: none;
}
.input:checked + .switch-btn::after {
    transform: translate(100%, 10%);
}
.input:checked + .switch-btn {
    background-color: grey;
}