.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 4%;
    border-radius: 5px;
    color: black;

}
/* DOWNLOAD-ARROW ICON */
.icon-ctn {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.icon-ctn::before, 
.icon-ctn::after {
    content: '';
    height: 50%;
    width: 1%;
    background-color: black;
}
.icon-ctn::before {
    transform: translate(-1600%, 75%) rotate(-45deg);
}
.icon-ctn::after {
    transform: translate(1550%, 65%) rotate(45deg);
}
.icon-ctn div {
    height: 100%;
    width: 1%;
    background-color: black;
}