.icon-ctn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-ctn div {
    height: 1px;
    width: 45px;
    background-color: black;
}