/* SET-UP */
.hamburger-mnu {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburger-mnu div {
    height: 1%;
    width: 45%;
    background-color: black;
}